body {
  font-family: sans-serif;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
